.list-group-item:hover{
    background-color: #f5f1f1;
    cursor: pointer;
}
.table-row {
height: auto;      
}

div .modal {
max-width: none;
}

.cupos-row {
display: flex;
justify-content: space-between;
}

.oferta {
	display: block;
}